{% extends 'base.html.twig' %}

{% block title %}
	Mon article 12
{% endblock %}

{% block body %}

	<h1>Création d'un article</h1>
	{{form_start(formArticle)}}

	<div class="form-group">
		{{form_row(formArticle.title, {'attr' : {'placeholder' : "Titre", 'class' : 'form-control'}})}}
	</div>


	<div class="form-group">
		{{form_row(formArticle.content, {'attr' : {'placeholder' : "Contenu", 'class' : 'form-control'}})}}
	</div>


	<div class="form-group">
		{{form_row(formArticle.image, {'attr' : {'placeholder' : "https://votreimage.jpg", 'class' : 'form-control'}})}}
	</div>

	<div class="form-group">
		{{form_row(formArticle.add, {'attr' : {'class' : 'form-control btn-primary'}})}}
	</div>

	{{form_end(formArticle)}}

{% endblock %}
