{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<h1>Bienvenue sur le site</h1>
	<section class="articles">
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<div class="metadata">
					Ecrit le
					{{ article.createAt | date('d/m/Y') }}
					à
					{{ article.createAt | date('H:i') }}
					dans la catégorie
					{{ article.category.title }}</div>
				<div class="content">
					<img src="https://loremflickr.com/640/360" alt="img1">
					<p>
						{{ article.content | raw }}
					</p>
					<a href="{{ path('blog_show',{'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
