{% extends 'base.html.twig' %}

{% block title %}
	Mon article 12
{% endblock %}

{% block body %}

	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">
			Ecrit le
			{{ article.createAt | date('d/m/Y à H:i') }}

			dans la catégorie
			{{ article.category.title }}</div>
		<div class="content">
			<img src="https://loremflickr.com/640/360" alt="img1">
			<p>
				{{ article.content | raw }}
			</p>

		</div>
	</article>

	<section id="comments">
		<h2>
			{{ article.comments | length }}
			Commentaires
		</h2>
		{% for comment in article.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-3">{{comment.user.username}}
						<small>{{comment.createdAt | date('d/m/Y à H:i') }}</small>
					</div>
					<div class="col">
						{{comment.content | raw}}
					</div>
				</div>
			</div>

		{% endfor %}

		{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.content, {'attr' : { 'placeholder' : 'Votre commentaire' }}) }}

			<button type="submit" class="btn btn-primary">Commenter</button>
			{{ form_end(commentForm) }}
		{% endif %}
	</section>
{% endblock %}
